* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    background-color: #1F2937;
    padding: 16px 240px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 24px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* First Section */
.first-section {
    height: auto;
    display: flex;
    background-color: #1F2937;
    padding: 112px 240px 128px 240px;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    height: 250px;
    max-width: 536px;
    padding: auto;
    background-color: #6D747D;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 536px;
}

.placeholder-text {
    color: #F9FAF8;
}

.first-section-left-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.first-section-left-container h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first-section-left-container p {
    font-size: 18px;
    color: #e0e1e4;
    font-weight: 500;
}

.first-section-left-container button {
    background-color: #3882F6;
    padding: 8px 32px;

    align-self: flex-start;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
} 

/* Second Section */
.second-section {
    height: auto;
    display: flex;
    background-color: white;
    flex-direction: column;

    padding-bottom: 144px;
    align-items: center;
}

.second-section-title {
    padding: 48px 0px 48px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards-container {
    display: flex;
    justify-content: center;
    
    gap: 32px;
    flex-wrap: wrap;
}

.card-box {
    height: 190px;
    width: 190px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 18px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-text {
    font-size: 18px;
    color: #50647e;

    width: 190px;
    text-align: center;
}

/* Third Section */
.third-section {
    display: flex;
    justify-content: center;
    padding: 96px 0px 96px 0px;
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 856px;
    justify-content: center;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-source {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-right: 32px;
}

/* Fourth Section */
.fourth-section {
    background-color: white;
    padding: 144px 0px 144px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    padding: 48px 144px 48px 144px;
    width: 1024px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 128px;
}

.blue-box-texts {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.call-to-action {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-subtitle {
    font-size: 16px;
    color: #e0e1e4;
}

.sign-up-action {
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    border-radius: 8px;
    border: 2px solid;
    font-weight: bold;
    font-size: 18px;

    margin-left: auto;
    text-wrap: nowrap;
}

/* Footer */
.footer {
    height: 80px;
    width: 100%;
    background-color: #202c34;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
}

/* Some extra styling */
.sign-up:hover, .sign-up-action:hover {
    background-color: #0c4094;
}