* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.master-container {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    background-color: #1F2937;
    padding: 16px 192px;
    align-items: center;
}

.logo {
    /* flex: 2; */
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    margin-left: auto;
    /* flex: 1; */
    list-style: none;
    gap: 24px;
    /* justify-content: space-between; */
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*  */
.middle {
    display: flex;
    flex-direction: column;
}
/*  */

/* First Section */

.first-section {
    height: auto;
    display: flex;
    background-color: #1F2937;
    padding: 112px 192px 128px 192px;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    height: 250px;
    max-width: 536px;
    padding: auto;
    background-color: #6D747D;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 536px;
}

.placeholder-text {
    color: #F9FAF8;
}

.first-section-left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex: 1;
    gap: 16px;
}

.first-section-left-container h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first-section-left-container p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 900;
}

.first-section-left-container button {
    background-color: #3882F6;
    padding: 8px 32px;

    align-self: flex-start;

    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
} 

